	<head>
		<title>{{ site.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{{ "css/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
		<script src="{{ "js/jquery.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "js/jquery.scrollzer.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "js/skel.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "js/skel-layers.min.js" | prepend: site.baseurl }}"></script>
		<script src="{{ "js/init.js" | prepend: site.baseurl }}"></script>
		<noscript>
			<link rel="stylesheet" href="jIAPS/css/skel.css">
			<link rel="stylesheet" href="jIAPS/css/style.css"/>
			<link rel="stylesheet" href="jIAPS/css/style-xlarge.css"/>
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ "css/ie/v8.css" " | prepend: site.baseurl }}" /><![endif]-->
	</head>
